{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "printWidth": 80
}
